
imagePullSecrets: []

image: 
  name: eclipsebasyx/aas-environment:2.0.0-SNAPSHOT
  pullPolicy: IfNotPresent

resources: {}
podAnnotations: {}

service:
  type: ClusterIP
  port: 8080

startup:
  enabled: false
  # Currently supporting a GitRepo source for startup AAS shells, but must be a public repo.
  repo: ""
  # Other sources may be defined later.

ingress:
  enabled: false
  host: aas-environment.local

apirule:
  enabled: false
  host: aas-environment.local
  methods: 
      - "GET" 
      - "HEAD" 
      - "POST" 
      - "PUT" 
      - "DELETE" 
      - "CONNECT" 
      - "OPTIONS" 
      - "TRACE"
      - "PATCH"

config: |
  basyx.backend = MongoDB
  spring.data.mongodb.host=mongo
  spring.data.mongodb.database=aas-env
  spring.data.mongodb.authentication-database=admin
  spring.data.mongodb.username=mongoAdmin
  spring.data.mongodb.password=mongoPassword

  basyx.environment=file:aas
  basyx.aasrepository.feature.mqtt.enabled = true
  basyx.cors.allowed-origins=*

  mqtt.clientId=AAS-Env-Example-8081
  mqtt.hostname = mqtt
  mqtt.port = 1884
