.lck
*.class
/.vs
/.vscode
/.idea
**.iml
launchSettings.json
.project
*.pubxml
Properties
.classpath
**.flattened-pom.xml

target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
**/META-INF/*

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# CDT- autotools
.autotools

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

# Annotation Processing
.apt_generated/

# Scala IDE specific (Scala & Java development for Eclipse)
.cache-main
.scala_dependencies
.worksheet

.moquette_uuid

# generated sources files (client-native...)
**/generated/

# generated API files
**/open-api/Plattform_i40-Registry-and-Discovery.yaml
**/open-api/Plattform_i40-SubmodelRegistry-and-Discovery.yaml
**/open-api/temporary-extensions-result-file.yaml
/.env

**.iml

.DS_Store
