.lck
*.class
/components/basys.components/WebContent/WEB-INF/lib/jdbc/postgresql-42.2.2.jar
/components/basys.components/WebContent/WEB-INF/lib/jersey/ext/aopalliance-repackaged-2.5.0-b42.jar
/components/basys.components/WebContent/WEB-INF/lib/jersey/ext/cdi-api-1.1.jar
/components/basys.components/WebContent/WEB-INF/lib/jersey/ext/el-api-2.2.jar
/components/basys.components/WebContent/WEB-INF/lib/jersey/ext/hk2-api-2.5.0-b42.jar
/components/basys.components/WebContent/WEB-INF/lib/jersey/ext/hk2-locator-2.5.0-b42.jar
/components/basys.components/WebContent/WEB-INF/lib/jersey/ext/hk2-utils-2.5.0-b42.jar
/components/basys.components/WebContent/WEB-INF/lib/jersey/ext/javassist-3.22.0-CR2.jar
/components/basys.components/WebContent/WEB-INF/lib/jersey/ext/javax.annotation-api-1.2.jar
/components/basys.components/WebContent/WEB-INF/lib/jersey/ext/javax.inject-1.jar
/components/basys.components/WebContent/WEB-INF/lib/jersey/ext/javax.inject-2.5.0-b42.jar
/components/basys.components/WebContent/WEB-INF/lib/jersey/ext/javax.json-1.1.jar
/components/basys.components/WebContent/WEB-INF/lib/jersey/ext/javax.json-api-1.1.jar
/components/basys.components/WebContent/WEB-INF/lib/jersey/ext/javax.json.bind-api-1.0.jar
/components/basys.components/WebContent/WEB-INF/lib/jersey/ext/javax.servlet-api-3.0.1.jar
/components/basys.components/WebContent/WEB-INF/lib/jersey/ext/jaxb-api-2.2.7.jar
/components/basys.components/WebContent/WEB-INF/lib/jersey/ext/jboss-interceptors-api_1.1_spec-1.0.0.Beta1.jar
/components/basys.components/WebContent/WEB-INF/lib/jersey/ext/jsr250-api-1.0.jar
/components/basys.components/WebContent/WEB-INF/lib/jersey/ext/org.osgi.core-4.2.0.jar
/components/basys.components/WebContent/WEB-INF/lib/jersey/ext/osgi-resource-locator-1.0.1.jar
/components/basys.components/WebContent/WEB-INF/lib/jersey/ext/persistence-api-1.0.jar
/components/basys.components/WebContent/WEB-INF/lib/jersey/ext/validation-api-1.1.0.Final.jar
/components/basys.components/WebContent/WEB-INF/lib/jersey/ext/yasson-1.0.jar
/components/basys.components/WebContent/WEB-INF/lib/jersey/javax.ws.rs-api-2.1.jar
/components/basys.components/WebContent/WEB-INF/lib/jersey/jersey-client.jar
/components/basys.components/WebContent/WEB-INF/lib/jersey/jersey-common.jar
/components/basys.components/WebContent/WEB-INF/lib/jersey/jersey-container-servlet-core.jar
/components/basys.components/WebContent/WEB-INF/lib/jersey/jersey-container-servlet.jar
/components/basys.components/WebContent/WEB-INF/lib/jersey/jersey-hk2.jar
/components/basys.components/WebContent/WEB-INF/lib/jersey/jersey-media-jaxb.jar
/components/basys.components/WebContent/WEB-INF/lib/jersey/jersey-media-json-binding.jar
/components/basys.components/WebContent/WEB-INF/lib/jersey/jersey-media-sse.jar
/components/basys.components/WebContent/WEB-INF/lib/jersey/jersey-server.jar
/components/basys.components/WebContent/WEB-INF/lib/poi-4.0.0/LICENSE
/components/basys.components/WebContent/WEB-INF/lib/poi-4.0.0/NOTICE
/components/basys.components/WebContent/WEB-INF/lib/poi-4.0.0/lib/activation-1.1.1.jar
/components/basys.components/WebContent/WEB-INF/lib/poi-4.0.0/lib/commons-codec-1.11.jar
/components/basys.components/WebContent/WEB-INF/lib/poi-4.0.0/lib/commons-collections4-4.2.jar
/components/basys.components/WebContent/WEB-INF/lib/poi-4.0.0/lib/commons-logging-1.2.jar
/components/basys.components/WebContent/WEB-INF/lib/poi-4.0.0/lib/commons-math3-3.6.1.jar
/components/basys.components/WebContent/WEB-INF/lib/poi-4.0.0/lib/jaxb-api-2.3.0.jar
/components/basys.components/WebContent/WEB-INF/lib/poi-4.0.0/lib/jaxb-core-2.3.0.1.jar
/components/basys.components/WebContent/WEB-INF/lib/poi-4.0.0/lib/jaxb-impl-2.3.0.1.jar
/components/basys.components/WebContent/WEB-INF/lib/poi-4.0.0/lib/junit-4.12.jar
/components/basys.components/WebContent/WEB-INF/lib/poi-4.0.0/lib/log4j-1.2.17.jar
/components/basys.components/WebContent/WEB-INF/lib/poi-4.0.0/ooxml-lib/curvesapi-1.05.jar
/components/basys.components/WebContent/WEB-INF/lib/poi-4.0.0/ooxml-lib/xmlbeans-3.0.1.jar
/components/basys.components/WebContent/WEB-INF/lib/poi-4.0.0/poi-4.0.0.jar
/components/basys.components/WebContent/WEB-INF/lib/poi-4.0.0/poi-examples-4.0.0.jar
/components/basys.components/WebContent/WEB-INF/lib/poi-4.0.0/poi-excelant-4.0.0.jar
/components/basys.components/WebContent/WEB-INF/lib/poi-4.0.0/poi-ooxml-4.0.0.jar
/components/basys.components/WebContent/WEB-INF/lib/poi-4.0.0/poi-ooxml-schemas-4.0.0.jar
/components/basys.components/WebContent/WEB-INF/lib/poi-4.0.0/poi-scratchpad-4.0.0.jar
/components/basys.components/WebContent/WEB-INF/lib/saxonxmlparser/saxon9-xqj.jar
/components/basys.components/WebContent/WEB-INF/lib/saxonxmlparser/saxon9he.jar
/components/basys.components/WebContent/WEB-INF/lib/sdk/basyx_sdk.jar
/.vs
/sdks/dotnet/.vs/BaSyx
launchSettings.json
.project
*.pubxml
Properties
