name: Build and Test BaSyx

on:
  pull_request:
    branches: [ main ]
    paths-ignore:
      - '.github/ISSUE_TEMPLATE/**'
      - '.github/CODE_OF_CONDUCT.md'
      - '.github/CODING_CONVENTIONS.md'
      - '.github/CONTRIBUTING.md'
      - '.github/dependabot.yml'
      - '.github/pull_request_template.md'
      - '.github/SECURITY.md'
      - 'docs/**'
      - 'examples/**'
      - 'README.md'
      - '.gitattributes'
      - '.gitignore'
      - 'LICENSE'
      - 'NOTICE'

env:
  MVN_ARGS_BUILD_BASYX: -DskipTests

jobs:
  test-basyx-common:
    runs-on: ubuntu-latest
    name: BaSyx Core Test
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'adopt'
          cache: maven
      - name: Start environment
        run: docker compose --project-directory ./ci up -d --wait
      - name: Build BaSyx
        run: mvn clean install ${MVN_ARGS_BUILD_BASYX}
      - name: Test BaSyx Common
        run: mvn test -f "basyx.common/pom.xml"
      - name: Stop environment
        if: always()
        run: docker compose --project-directory ./ci down
  test-basyx-aasxfileserver:
    runs-on: ubuntu-latest
    name: AASX FileServer Test
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'adopt'
          cache: maven
      - name: Start environment
        run: docker compose --project-directory ./ci up -d --wait
      - name: Build BaSyx
        run: mvn clean install ${MVN_ARGS_BUILD_BASYX}
      - name: Test AASX FileServer
        run: mvn test -f "basyx.aasxfileserver/pom.xml"
      - name: Test AASX FileServer IT
        run: mvn clean verify --pl "basyx.aasxfileserver.component" -Ddocker.namespace=test -DskipSurefire=true
      - name: Stop environment
        if: always()
        run: docker compose --project-directory ./ci down
  test-basyx-aasenvironment:
    runs-on: ubuntu-latest
    name: AAS Environment Test
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'adopt'
          cache: maven
      - name: Start environment
        run: docker compose --project-directory ./ci up -d --wait
      - name: Build BaSyx
        run: mvn clean install ${MVN_ARGS_BUILD_BASYX}
      - name: Test AAS Environment
        run: mvn test -f "basyx.aasenvironment/pom.xml"
      - name: Test AAS Environment IT
        run: mvn clean verify --pl "basyx.aasenvironment.component" -Ddocker.namespace=test -DskipSurefire=true
      - name: Stop environment
        if: always()
        run: docker compose --project-directory ./ci down
  test-basyx-aasrepository:
    runs-on: ubuntu-latest
    name: AAS Repository Test
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'adopt'
          cache: maven
      - name: Start environment
        run: docker compose --project-directory ./ci up -d --wait
      - name: Build BaSyx
        run: mvn clean install ${MVN_ARGS_BUILD_BASYX}
      - name: Test AAS Repository
        run: mvn test -f "basyx.aasrepository/pom.xml"
      - name: Test AAS Repository IT
        run: mvn clean verify --pl "basyx.aasrepository.component" -Ddocker.namespace=test -DskipSurefire=true
      - name: Stop environment
        if: always()
        run: docker compose --project-directory ./ci down
  test-basyx-aasservice:
    runs-on: ubuntu-latest
    name: AAS Service Test
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'adopt'
          cache: maven
      - name: Start environment
        run: docker compose --project-directory ./ci up -d --wait
      - name: Build BaSyx
        run: mvn clean install ${MVN_ARGS_BUILD_BASYX}
      - name: Test AAS Service
        run: mvn test -f "basyx.aasservice/pom.xml"
      - name: Stop environment
        if: always()
        run: docker compose --project-directory ./ci down
  test-basyx-submodelrepository:
    runs-on: ubuntu-latest
    name: Submodel Repository Test
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'adopt'
          cache: maven
      - name: Start environment
        run: docker compose --project-directory ./ci up -d --wait
      - name: Build BaSyx
        run: mvn clean install ${MVN_ARGS_BUILD_BASYX}
      - name: Test Submodel Repository
        run: mvn test -f "basyx.submodelrepository/pom.xml"
      - name: Test Submodel Repository IT
        run: mvn clean verify --pl "basyx.submodelrepository.component" -Ddocker.namespace=test -DskipSurefire=true
      - name: Stop environment
        if: always()
        run: docker compose --project-directory ./ci down
  test-basyx-submodelservice:
    runs-on: ubuntu-latest
    name: Submodel Service Test
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'adopt'
          cache: maven
      - name: Start environment
        run: docker compose --project-directory ./ci up -d --wait
      - name: Build BaSyx
        run: mvn clean install ${MVN_ARGS_BUILD_BASYX}
      - name: Test Submodel Service
        run: mvn test -f "basyx.submodelservice/pom.xml"
      - name: Stop environment
        if: always()
        run: docker compose --project-directory ./ci down
  test-basyx-conceptdescriptionrepository:
    runs-on: ubuntu-latest
    name: Concept Description Repository Test
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'adopt'
          cache: maven
      - name: Start environment
        run: docker compose --project-directory ./ci up -d --wait
      - name: Build BaSyx
        run: mvn clean install ${MVN_ARGS_BUILD_BASYX}
      - name: Test Concept Description Repository
        run: mvn test -f "basyx.conceptdescriptionrepository/pom.xml"
      - name: Test Concept Description Repository IT
        run: mvn clean verify --pl "basyx.conceptdescriptionrepository.component" -Ddocker.namespace=test -DskipSurefire=true
      - name: Stop environment
        if: always()
        run: docker compose --project-directory ./ci down
  test-basyx-submodelregistry:
    runs-on: ubuntu-latest
    name: Submodel Registry Test
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'adopt'
          cache: maven
      - name: Start environment
        run: docker compose --project-directory ./ci up -d --wait
      - name: Build BaSyx
        run: mvn clean install ${MVN_ARGS_BUILD_BASYX}
      - name: Test Submodel Registry
        run: mvn test -f "basyx.submodelregistry/pom.xml"
      - name: Test Submodel Registry IT
        run: mvn clean verify --pl "basyx.submodelregistry" -Ddocker.namespace=test -DskipSurefire=true
      - name: Stop environment
        if: always()
        run: docker compose --project-directory ./ci down
  test-basyx-aasregistry:
    runs-on: ubuntu-latest
    name: AAS Registry Test
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'adopt'
          cache: maven
      - name: Start environment
        run: docker compose --project-directory ./ci up -d --wait
      - name: Build BaSyx
        run: mvn clean install ${MVN_ARGS_BUILD_BASYX}
      - name: Test AAS Registry
        run: mvn test -f "basyx.aasregistry/pom.xml"
      - name: Test AAS Registry IT
        run: mvn clean verify --pl "basyx.aasregistry" -Ddocker.namespace=test -DskipSurefire=true
      - name: Stop environment
        if: always()
        run: docker compose --project-directory ./ci down
  test-basyx-aasdiscoveryservice:
    runs-on: ubuntu-latest
    name: AAS Discovery Service Test
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'adopt'
          cache: maven
      - name: Start environment
        run: docker compose --project-directory ./ci up -d --wait
      - name: Build BaSyx
        run: mvn clean install ${MVN_ARGS_BUILD_BASYX}
      - name: Test AAS Discovery Service
        run: mvn test -f "basyx.aasdiscoveryservice/pom.xml"
      - name: Test AAS Discovery Service IT
        run: mvn clean verify --pl "basyx.aasdiscoveryservice.component" -Ddocker.namespace=test -DskipSurefire=true
      - name: Stop environment
        if: always()
        run: docker compose --project-directory ./ci down
