name: Dash License Check

on:
  pull_request:
    paths:
      - '**/pom.xml'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 17

      - name: Build with Maven
        run: mvn org.eclipse.dash:license-tool-plugin:license-check -PDashLicense
